.menu {
  display: flex;
  justify-content: flex-start;
}

.fButton {
  color: rgb(175, 174, 174);
  background-color: rgb(230, 230, 230);
  width: 8rem;
  font-size: small;
  padding-top: 1rem;
  height: 2rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.fButton:hover {
  background-color: rgb(155, 155, 155);
}
